.App {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #839695;
}

nav a {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: white;
  text-decoration: none;
}

nav {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  padding-top: 23px;
  padding-bottom: 12px;
  text-align: left;
  padding-left: 27px;

  background: #112b3e;
}

.Wrapper {
  padding: 0 10px;
  margin: 90px auto;
  box-sizing: border-box;
}

.ArticleContainer {
  max-width: 350px;
  margin: 5px auto;
  background: #112b3e;
}

.ArticleImg {
  height: 200px;
  width: 100%;
  margin: 0 -20px;
}

.ArticleLink {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;

  color: #ffffff;
}

.SingleArticleWrapper {
  padding: 0 10px;
  margin: 90px auto;
  box-sizing: border-box;
}

.SingleArticleImg {
  position: absolute;
  width: 80%;
  height: 450px;
  left: 10%;
  top: 40%;
}

h2 {
  position: absolute;
  width: 80%;
  height: 25%;
  left: 10%;
  top: 20%;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  text-align: center;

  color: #ffffff;
}

h3 {
  position: absolute;
  width: 80%;
  height: 60%;
  left: 10%;
  top: 110%;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  text-align: left;

  color: #000000;
}

h4 {
  position: absolute;
  width: 75%;
  height: 20%;
  left: 15%;
  top: 220%;
  padding: 20px;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: left;

  color: #000000;

  position: absolute;
  width: 80%;
  height: 40%;
  left: 10%;
  top: 210%;

  background: #ffffff;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  h4 {
    height: 5%;
    width: 80%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ArticleItem {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  .ArticleItem {
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
  }
}
